@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
    }

    .light {
        --background: 240 10% 96%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --border: 240 5.9% 90%;
    }

    body {
        background-color: hsl(var(--background));
        color: hsl(var(--foreground));
        font-family: 'Inter', sans-serif;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.icon-fill {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    @apply bg-zinc-950;
}

::-webkit-scrollbar-thumb {
    @apply bg-zinc-800 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-700;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}